---
---

<html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pixelar Studio - Bienvenido</title>
    <link rel="stylesheet" href="/src/styles/global.css">
  </head>
  <body class="bg-gray-900 text-gray-100">
    <main class="min-h-screen flex flex-col justify-center items-center">
      <>
     <div class="text-center mb-8">
        <img src="/logops.png" alt="Logo" class="h-40 mt-12 p-1 w-auto mx-auto" />
      </div>
      <h1 class="text-3xl font-bold mb-6 text-center">Generador de Presupuestos</h1>
      <p class="mb-6 text-center">Presupuestos personalizados de Pixelar Studio.</p>
      <a href="/presupuesto" class="bg-slate-800  border-cyan-500 border-2 text-white py-2 px-4 rounded">Generar Presupuesto</a>

      </>
 
    </main>
  </body>
</html>
